/*#########################################*/
/* Table Resizing */
/*#########################################*/

table.resize th {
    position: relative;
    border-right: 1px dotted #ccc !important;
    text-align: left;
}

table.resize tr th .handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: ew-resize !important;
}

table.resize tr th .handle.active {
    border-right: 1px dotted #ccc;
}

table.resize td {
    position: relative;
    /*max-width: 40px !important;*/
    text-align: left;
}

.ui.fixed.table td, .ui.fixed.table th {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.fixed.table {
    table-layout: fixed;
}

table.md-table.md-row-select th.md-column{
    padding: 0 !important;
}
